@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    padding: 0px;
    margin: 0px;
    background-color: #6B6B6B;
    z-index: 2;
}

.container{
    display: flex;
    padding: 5px;
    width: 80%;
    margin: auto;
}

img{
    width: 100%;
}

.box{
    background-color: #D2CECB;
    padding: 15px;
    margin: 5px;
    text-align: justify;
    border-radius: 10px;
}

h2{
    color: #E34E58;
}

#footer{
    padding: 10px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

@media(max-width: 1000px){
    .container{
        margin: 0px;
        width: auto;
        display: block;
    }

    .box{
        width: auto;
    }
}

@media(max-width: 425px){
    h2{
        font-size: 18px;
    }
}

.container video{
    display: flex;
    padding: 5px;
    width: 75%;
    margin: auto;

}

.box1{
    
    width: auto;
    background-color: #D2CECB;
    padding: 15px;
    margin: 5px;
    text-align: justify;
    border-radius: 10px;
}
.box1 img{
    width: 100px;
    order: initial;
}

ver aqui
#player{
  display: flex;
  background-color: #000000;
}

estilo quiz

.panel{
    background-color: #D2CECB;
    padding: 15px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
}


.question {
	font-size: 30px;
	margin-bottom: 20px;
}

.options {
	font-size: 20px;
	display: flex;
	
	margin-bottom: 20px;
	
	top: 40%;
	left: 40%;
}

button {
	
	font-size: 20px;
	padding: 10px 20px;
	background-color: #4f98c2;
	color: white;
	border: none;
	cursor: pointer;
}

#score {
	font-size: 30px;
	color: darkslategray;
}

